[Unit]
Description=SimpleBooth Kiosk
After=graphical.target
Wants=graphical.target

[Service]
Type=simple
User=admin
Group=admin
Environment=DISPLAY=:0
Environment=HOME=/home/admin
ExecStart=/home/admin/start_simplebooth.sh
Restart=no

[Install]
WantedBy=graphical.target
